
.top-info{
  position: relative;
  display:block;
}

.top-info__img{
  margin:0;
}
.top-info__make-cancel{
  position: absolute;
  bottom: 27px;
  left: 264px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #FFEB3B;
  border-radius: 5px;
}
.top-info__title{
  position: absolute;
  bottom: 170px;
  left: 25px;
  font-weight: bold;
  color:white;
  font-size: x-large;
}
.top-info__the-pledge-word{
  position: absolute; 
  bottom: 144px;
  left: 25px;
  color:white;
  font-weight: bold;
}
.top-info__description{
  position: absolute;
  bottom: 65px;
  left: 25px;
  font-weight: bold;
  color:white;
  word-wrap: break-word;
  font-weight: bold;
}
.top-info__pledgeS-already-word{
  position: absolute; 
  bottom: 27px;
  left: 25px;
  color:white;
  font-weight: bold;
}
.top-info__number{
  position: absolute; 
  bottom: 6px;
  left: 25px;
  color:white;
  font-weight: bold;
}
.importance-div{
  width:80%;
  padding-left: 25px;
  padding-right:50px;  
}
.how-do-div{
  width:80%;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:5px;
  padding-bottom:25px;
  background-color: #3FCFAD;
}
.pros-cons-div{
  width:80%;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;
}
.pros-cons-div__element{
  padding-top:3%;
}
.resources-div{
  width:80%;
  background-color: #ffbf00;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;

}
.resources-div__link{
  color: white;
  content: '\1F95E';
}
a{
  color:black;
  text-decoration: none;

}
.further-information{
  width:80%;
  padding-left:25px;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;

}

.references{
  width:80%;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;
  margin-bottom:21vw;
  font-size:10px;

}
.references__element{
  padding-top:10px;
}
.hr-element{
  margin:5px;
}
.blue{
  background-color:  #3FCFAD;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;
  
}
.amber{
  background-color: #ffbf00;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;

}
.red{
  background-color: #E23724;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;

}
.green{
  background-color:green;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;

}
