.top-info{
  position: relative;
  width:80vw;
}
.top-info__img{
  width: 100vw;
}
.top-info__make-cancel{
  position: absolute;
  bottom: 6vw;
  right:-13vw;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid #f9be02;
  border-radius: 5px;
}
.top-info__title{
  position: absolute;
  bottom: 93vw;
  left: 7vw;
  font-weight: bold;
  color:white;
  font-size: 42px;
}
.top-info__the-pledge-word{
  position: absolute; 
  bottom: 79vw;
  left: 7vw;
  color:white;
  font-weight: bold;
}
.top-info__description{
  position: absolute;
  bottom: 60vw;
  left: 7vw;
  display: block;
  top: 74vw;
  font-weight: bold;
  color:white;
  word-wrap: break-word;
  font-weight: bold;
}
.top-info__pledgeS-already-word{
  position: absolute; 
  bottom: 19vw;
  left: 7vw;
  color:white;
  font-weight: bold;
}
.top-info__number{
  position: absolute; 
  bottom: 9vw;
  left: 7vw;
  color:white;
  font-weight: bold;
  font-size:25px;
}
.importance-div{
  width:80%;
  padding-left: 25px;
  padding-right:50px; 
  margin-top: 10vw; 
}
.how-do-div{
  width:80%;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;
  background-color: #7cdbd5;
  margin-top: 10vw;
}
.how-do-div__element{
  padding:5px;
}
.pros-cons-div{
  width:80%;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;
  margin-top: 10vw;
}
.pros-cons-div__element{
  padding-top:3%;
}
.resources-div{
  width:80%;
  background-color: #ffbf00;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;
  margin-top: 10vw; 
}
.resources-div__link{
  color: white;
  content: '\1F95E';
}
a{
  color:black;
  text-decoration: none;

}
.further-information{
  width:80%;
  padding-left:25px;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;
  margin-top: 10vw;
}

.references{
  width:80%;
  padding-left: 3vw;
  padding-right:17vw;
  padding-top:15px;
  padding-bottom:25px;
  margin-bottom:21vw;
  font-size:10px;
  margin-top: 10vw;
}
.references__element{
  padding-top:10px;
}
.hr-element{
  margin:5px;
}
.blue{
  background-color:  #7cdbd5;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;
  
}
.amber{
  background-color: #ffbf00;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;

}
.red{
  background-color: #ff4062;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;

}
.green{
  background-color:green;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;
}
.cryan{
  background-color:#1dbfd1;
  height: 22px;
  width: 8px;
  display: inline-block;
  border-radius: 33%;
  margin-right:5px;
}

