#root{
  height:100vh;
}
.user-pledge{
  width:100%;
  height: 153px;
  font-style: Raleway;
  position: relative;
  margin-top:18px;  
}

.user-pledge__pledge-image{
  margin: auto;
  width: 90%;
  display: block;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.user-pledge__pledge-title{
  position: absolute;
  bottom: 45%;
  left: 7%;
  font-weight: bold;
  font-size: 21px;
  color: #FFFFFF;
  margin-block-start: 0;
  margin-block-end: 0; 
}

.user-pledge__pledge-description{
  width: 71%;
  position: absolute;
  bottom: 9%;
  top:59%;
  left: 7%;
  font-size: 16px;
  line-height: 15px;
  color: white;
  word-wrap: break-word;
}

.user-pledge__pledge-enrollements-badge{
  position: absolute;
  right: 3%;
  top: 63%;
  background: #F9BE02;
  width:66px;
  height: 41.38%;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
}

.user-pledge__pledge-enrollements-icon{
  width: 20px;
  display: block;
  margin: 10% auto 3px auto;
  filter:none;
  }

.user-pledge__pledge-enrollements-number{
  font-family: Raleway;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  display: block;
  margin: auto;
}

@media (max-width: 320px) {
 .user-pledge{
  width:100%;
  height: 100px;
  font-style: Raleway;
  position: relative;
  margin-top:18px;  
}

.user-pledge__pledge-image{
  margin: auto;
  width: 90%;
  display: block;
  height: 100%;
  border-radius: 15px;
}
.user-pledge__pledge-title{
  position: absolute;
  bottom: 45%;
  left: 7%;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  margin-block-start: 0;
  margin-block-end: 0; 
}

.user-pledge__pledge-description{
  width: 72%;
  position: absolute;
  bottom: 7%;
  left: 7%;
  font-weight: bold;
  font-size: 11px;
  line-height: 10px;
  color: white;
  word-wrap: break-word;
}

.user-pledge__pledge-enrollements-badge{
  position: absolute;
  right: 3%;
  top: 64%;
  background: #F9BE02;
  width:45px;
  height: 45px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
}

.user-pledge__pledge-enrollements-icon{
  width: 15px;
  display: block;
  margin: 10% auto 1px auto;

  }

.user-pledge__pledge-enrollements-number{
  font-family: Raleway;
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 17px;
  display: block;
  margin: auto;

}

}

@media (min-width: 768px) {
  .user-pledge{
  width:100%;
  height: 30%; 
}
.user-pledge__pledge-enrollements-badge{
  top: 68%;
  right: 2.5%;
  width: 100px;
  height: 100px;
}
.user-pledge__pledge-title{
  bottom: 45%;
  font-size: 7vw;
}
.user-pledge__pledge-description{
    width: 78%;
    bottom: 10%;
    font-size: 4vw;
    line-height: 90%;
}



.user-pledge__pledge-enrollements-number{
line-height: 25px;
font-size: 25px;

}
.user-pledge__pledge-enrollements-icon{
    width: 35px;
}
}