.user-pledge{
  height: 140px;
  font-style: Raleway;
  position: relative;
  margin: auto;
  display: block;
  margin:18px;  
}

.user-pledge__image{
  width: 100%;
  height : 100%;
  border-radius:15px;
}

.user-pledge__title{
  position: absolute;
  bottom: 57px;
  left: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-block-start: 0;
  margin-block-end: 0; 
}

.user-pledge__description{
  width: 80%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: white;
  word-wrap: break-word;
}

.user-pledge__enrollements{
  position: absolute;
  left: 278px;
  top: 85px;
  background: #F9BE02;
  width: 65px;
  height: 65px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  border: 2px solid white;
}

.user-pledge__enrollements__image{
  width:30%;
  display: block;
  margin:10% auto 5% auto;
  }

.user-pledge__enrollements__text{
  font-family: Raleway;
  color:black;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: block;
  margin:auto;

}

