.user-pledge{
  font-style: Raleway;
    position: relative;

}
.user-pledge__image{
  width: 90%;
  height: 30%;
  display: block;
  margin: auto;
  border-radius: 15px;
}
.user-pledge__title{
  position: absolute;
  bottom: 60px;
  left: 30px;
}
.user-pledge__description{
  position: absolute;
  bottom: 30px;
  left: 30px;

}
.user-pledge__enrollements{
  background: #F9BE02;
  border: 2px white;
  left: 77.07%;
  right: 4.27%;
  top: 24.05%;
  bottom: 67.47%;


}


/* left: 36.6%;
right: 35.62%;
top: 11.11%;
bottom: 61.11%;

background: url(image.png); */