.Confirm_page{
display: flex;
flex-direction: column;
margin: 0 0 0 7%;}
.ConfirmPage_lets-Confirm{


}

.ConfirmPage_Confirm-dynamic{


}

.ConfirmPage_Confirm-Button{


}
.ConfirmPage_unconfirm-guide{



}