
.pledge-div{
  position: relative;
  margin:19px;
}
.pledge-div__img{
  position: relative;
  width:99%;
  height: 178px;
  object-fit:cover;
  top:0;
  left:0;
  line-height: 39px;
  border-radius: 15px;
}
.pledge-div__title{
  position: absolute;
  top: 61%; 
  left: 3%;
  font-weight: 600;
  color:white;
  font-size:21px;
}
.pledge-div__description{
  font-size: 15px;
  margin-top: 1%;
}
.pledge-div__already{
  font-weight: bold;
  margin-top: 3%;
  display: inline-block;
}
.pledge-div__number{
  color:#1dbfd1;
  font-weight: bold;
  margin-left:1%;
}
@media (min-width: 446px) {
  .pledge-div{
    width:88vw;
  }
  .pledge-div__img{
  height: 380px;
  width:75vw;
  margin-left:10%;
  margin-right:10%;

}
.pledge-div__title{
  font-size: 50px;
  margin-left: 10%;
  top:40%;
  padding-top: 5%;
  }
.pledge-div__description{
  font-size: 25px;
  margin-left: 10%;
  padding-top: 5%;
}
.pledge-div__already{
  font-weight: bold;
  font-size: 32px;
  margin-left: 10%;
  padding-top: 5%;
}
.pledge-div__number{
  font-size:38px;
}
}