.information__page {
  display: grid;
  height: -webkit-fill-available;
  margin-bottom: 100px;
}
.information__page-title {
  font-size: 30px;
  font-family: Raleway;
  font-weight: 600;
  margin: 22% auto 0.5% 10%;
  padding-bottom: 4%;
}
.information__page-question {
  margin: 1% auto 0.5% 10%;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 600;
}
.information__page-answer {
  margin: 1% auto 0% 10%;
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  width: 80%;
}
.information__page-hr1,
.information__page-hr2,
.information__page-hr3 {
  width: 220px;
  height: 10px;
  margin: 0% auto 0% 10%;
}
.information__page-hr1 {
  background: #1dbfd1;
}
.information__page-hr2 {
  background: #f9be02;
}
.information__page-hr3 {
  background: #e25224;
}
