.home{
  height:90%;
  overflow-y: scroll;
  top: 0px;
  margin-bottom: 27%;
  padding-bottom: 12px;
}
.loading-spinner__home{
	margin: 30%;
	position: relative;
}
.loading-spinner{
	margin-top: 52%;
	color: #1dbfd1;
	margin-left: 40%;
	font-weight: bold;
	font-size: 100%;
}
.home__title{
  margin-left:18px;
  margin-block-start: 3rem;
  margin-block-end: 1rem;
  margin-bottom: 1%;
}

.home__subtitle{
  margin-left:18px;
  margin-block-start: 0rem;
}

.home__user-message{
  margin:60px 18px 60px 18px;
  color: grey;
  font-size: x-large;
  width: 81%;
}

.home__redirect-to-dashboard{
  position: relative;
  display:block;
  margin:auto;
  width:90%;
  border: 3px solid #F9BE02;
  border-radius:10px;
  padding:7px;
  background: white;
}

.home__dashboard-icon{
  vertical-align: middle;
  position: absolute;
  left: 5px;
  top: 3px;
}
.home__dashboard-button{
  font-weight: bold;
}

@media (min-width: 768px) {
  .home__title{
    margin-left:40px;
}

  .home__subtitle{
    margin-left:40px;
  }
.home__user-message{
    margin:60px 40px 80px 40px;
    font-size: x-large;

}
  .home__redirect-to-dashboard{
    width:50%;
    font-size: large;
  }

}