.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    justify-content: space-around;
    background: #F7F7F7;
}

.footer__footer-element img {
    width: 40px;
    margin: auto;
}

.footer__footer-element {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.footer__footer-element p {
    margin: 5px auto 10px auto;
}