*{
  padding:0;
  margin:0;    
  font-family: Raleway;
}
img{
  filter:brightness(1)
}
.category-div{
  display:flex;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top:53px;
}

.category-div__dashboard-action{ 
  display: flex;
  justify-content: center;
  width: 165px;
  height: 165px;
  top: 11px;
  margin-left: 7px;
  font-style: Raleway;
  position: relative;
  margin-top: 14px;
  margin-right: 10px;
}

.category-div__dashboard-action-image{ 
  margin: auto;
  width: 165px;
  display: block;
  height: 165px;
  border-radius: 4px;
}

.category-div__dashboard-action-title{
  position: absolute;
  top:70px;
  font-weight: bold;
  font-size:22px;
  color: #FFFFFF;
  margin-block-start: 0;
  margin-block-end: 0;
}
    
.category-div__dashboard-action-numbers{
  display: flex;
  font-weight: bold;
  position: absolute;
  color: #FFF;
  right: 7%;
  top: 8%;
  padding-top: 3px;
}

    