.dashboard__title{
 position: relative;
 left: 5.6%;
 right: 30.93%;
 top: 6.53%;
 bottom: 82.39%;

font-family: Raleway;
font-style: normal;
font-weight: 20%;
font-size: 36px;
line-height: 42px;
height: 20%;
width: 40%;
color: #000000;

}

.category{
display:flex;
justify-content: space-around;
}

.category__dashboardAction{
 position: relative;
 height:100%;
 width:45%;
 padding-top: 1%;
}
.category__dashboardAction__image{ 
  position: relative;
  width:100%;
  height: 100%;
}
.category__dashboardAction__title{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}