  
  *{
    padding:0;
    margin:0
  }
  
  .category-div{
    display:flex;
  justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;


}
.category-div__dashboard-action{ 
    width:40%;
    height: 145px;
    font-style: Raleway;
    position: relative;
    margin-top:18px;   
    margin-left: 5%;
    margin-right: 5%
}
.category-div__dashboard-action-image{ 
    margin: auto;
    width: 100%;
    display: block;
    height: 83%;
    border-radius: 15px;
}

.category-div__dashboard-action-title{
  position: absolute;
  bottom: 50%;
  left: 30%;
  font-weight: bold;
  font-size: 87%;
  color: #FFFFFF;
  margin-block-start: 0;
  margin-block-end: 0;
}
    
.category-div__dashboard-action-numbers{
    display: flex;
    position: absolute;
      color: #FFF;

    right: 7%;
    top: 2%;
}

    