.category-pledges-page{
  
  margin-bottom: 100px;

}
.category-container{
 position: relative;
}
.category-container__category-img{
  width: 100%;
}
.category-container__category-title{
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 2.5em;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}
.category-container__category-description{
  position: absolute;
  width: 90%;
  font-size: 16px;
  top: 304px;
  font-style: normal;
  left: 52%;
  line-height: 22px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  direction: ltr;
}
.category-container__pledges{
   text-transform: uppercase;
   margin-top:6%;
   margin-left: 7%;
   font-weight: bold;
   margin-bottom:10%;
}

@media (min-width: 768px) {
 .category-container__category-img{
  width: 100%;
  height: 505px;
}
.category-container__category-title{
  font-size:2.5em;
}
.category-container__category-description{
  font-size:14px;
}
.category-container__pledges{
   text-transform: uppercase;
   margin-top:6%;
   margin-left: 7%;
   font-size: 37px;
   font-weight: bold;
}
}
@media (max-width: 360px){
.category-container__category-title{
  top:140px;
  font-size:20px;
}
.category-container__category-description{
  font-size:10px;
  top:253px;
}

}