.home-back-button{
  border: 1px solid white;
  margin-left: 7px;
}
.delete-confirmation-dialog{
  width: 99%;
  height: 100%;
  border:2px solid white;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start; 
  align-items: baseline; 
}

.delete-confirmation-dialog__back-button{
  width:100%;
  margin-bottom:50px;
}

.delete-confirmation-dialog__dialog-title {
    width: 99%;
    padding: 5%;
    padding-bottom:2.5%;
    font-size: 8vw;
    color: red;
}

.delete-confirmation-dialog__delete-message {
    font-size: 7vw;
    width: 99%;
    padding: 5%;
    padding-top:2.5%;
    font-weight: normal;
    vertical-align: bottom;
    color: black;
    margin-top:45%;
    margin-bottom: 20%;
}

.delete-confirmation-dialog__pledge-image{
  display:block;
  margin:auto;
  width:90%;
  height:auto;
  max-height: 30%;
  padding: 3% 15% 3% 15%;
}

.delete-confirmation-dialog__confirm-button{
  color:black;
  background: white;
  border:3px solid #7cdbd5;
}

.delete-confirmation-dialog__cancel-button {
    background: white;
    color: black;
    border: 2px solid gray;
}

.button-aligner {
    width: 90%;
    height: 6%;
    margin: 5% 5% 0 5%;
    border-radius: 15px;
    font-size: 5vw;
    font-weight: bold;
}

@media (min-width: 768px) {
  
.delete-confirmation-dialog__delete-message {
    font-size: 5vw;
   
    margin-top:30%;
    margin-bottom: 10%;
}
}