.container{
  overflow: scroll;
}
.vertical {
  margin: 8%;
  border-left: 3px solid #3fcfad;
}
.title-div{
  margin-top: 12vh;
  width: 100%;
  text-align: center;
  margin-bottom: -2%;
}

.title-div__top-title{
  font-weight: bold;
  font-size: 33px;
  font-family:Comfortaa;
  line-height: 39px;
  display: initial;
  padding-bottom: 8px;
}
.title-div__horizantal-line{
  border-top: 9px solid #ff4062;
  margin-left: 35%;
  margin-top: 2%;
  width: 30%;
}
.main-description-div{
  margin-top: 7vh;
  padding:5vw;
  width: 90%;
  text-align: center;
} 
.main-description-div__description {
  font-weight: normal;
  font-size: 32px;
  line-height: 39px;
  display: initial;
  letter-spacing: 0.1em;
}
.vertical__contents {
  margin-bottom: 52%;
  margin-left: -13%;
  padding: 7%;
  padding-bottom: 60px;
  background-color: white;
  font-family: Raleway;
  font-size: 17px;
  line-height: 28px;
}
.vertical__contents2 {
  margin-bottom: 24%;
  margin-left: -13%;
  padding: 7%;
  background-color: white;
  font-family: Raleway;
  font-size: 17px;
  line-height: 28px;
}
.vertical__contents-subtitle{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 4%;
}
.start {
  width: 100vw;
  text-align: center;
  margin-top: -40%;
  margin-bottom:10%;
}
.start__letsgo {
  background-color: white;
  border: 3px solid #f9be02;
  border-radius: 5px;
  width: 134px;
  height: 43px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.vertical__contents__circles {
  height: 30px;
  shape-outside: padding-box;
  font-family: Raleway;
  line-height: 30px;
  font-weight: 600;
  font-size: 19px;
  padding: 2%;
  width: 100%;
  padding-top: 8%;
  padding-left: 0%;
}
.vertical__contents__description{
  font-size: 94%;
  margin-bottom: 5%;
}
.vertical__contents__description2{
  font-size: 94%;
}
.vertical__contents__circles__circle {
    width: 39px;
    height: 39px;
    text-align: center;
    font-family: Raleway;
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    display: inline-block;
    color: #fff;
}
.vertical__contents__circles__numberCircle1 {
  background: #3fcfad;
}
.vertical__contents__circles__numberCircle2 {
  background: #f9be02;
}

.vertical__contents__circles__numberCircle3 {
  background: #FF4062;
}
.vertical__contents__circles__span {
  font-weight: normal;
  margin-left: 5%;
  letter-spacing: 0.05em;
}
@media (max-width: 360px) {
  .vertical__contents__circles {
    font-weight: 400;
    display: flex;
    font-size: 16px;
  }
}