
.container__dashboard__title{
position: relative;
 left: 5.6%;
 right: 30.93%;
 top: 6.53%;
 bottom: 82.39%;

font-family: Raleway;
font-style: normal;
font-weight: 20%;
font-size: 36px;
line-height: 42px;
height: 20%;
width: 40%;
color: #000;

}
.container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}
.container__numberOfPledges{
    position: relative;
    padding-top: 2%;
    width: 14%;
    height: 29%;
    margin-top: 6%;
    margin-right: 11%;
    height: 42px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #000000;


}

.container__pledges{
  position: relative;

font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 8px;
line-height: 9px;

color: #000000;
}