.container-div{
    display: flex;
    height: 47px;
    justify-content: space-between;
    align-content: center;
    width:78%;
    margin-right: -11%;
    margin-left: 5%;
    margin-top:4%; 
    margin-bottom: 10%
}
.container-div__dashboard{
    width:40%
}
.container-div__dashboard-title{
    width: 40%;
    box-sizing: border-box;
}
.container-div__number-of-Pledges{
    position: absolute;
    right: 10%;
    top: 3%;
    padding: 7px;
    font-family: Roboto;
    font-weight: bold;
    width: 40px;
    height: 40px;
    color: #000;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #000;
}
.container-div__number-of-Pledges-pledges{
    font-size: 52%;

}