
.container-div__dashboard__title{
    position: relative;
    margin-top: 5%;
    margin-left: 6%;
    font-family: Raleway;
    font-size: 161%;
    font-style: normal;
font-weight: 1000;
width: 35%;
color: #000000;
}

.container-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}
.container-div__numberOfPledges{
  position: relative;
    padding-top: 6%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 1%;
    width: 11%;
    /* height: 29%; */
    margin-top: 7%;
    margin-right: 11%;
    height: 15px;
    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 188%;
    line-height: 20px;
    color: #000000;

}

.container-div__pledges{
position: relative;
    font-family: Raleway;
    font-weight: bold;
    margin-top: 13%;
   margin-top: -17%;
    font-size: 26%;
    color: #000000;
}

.container-div__numberOfPledges__numbers{
 position: relative;
 text-align: center;
 font-size: 56%;
 box-sizing: border-box;
 margin-top: -32%;
}